block content

.bs.col-md-10(data-id='media-list')
    ul.media-list.card
      li.media
        .media-left
        a(href='#')
        img.media-object(data-src='holder.js/64x64', alt='64x64', src='http://www.gravatar.com/avatar/#{grav}', data-holder-rendered='true', style='width: 64px; height: 64px;')
        .media-body
            h4.media-heading #{user}
            p  #{message}
            p  #{date}
